DATABASE_URL="postgresql://root:root@localhost:5432/openshelf?schema=public"

POCKETBASE_URL="http://localhost:8090"

# This affects only creating secure (HTTPS only) cookies or not. 
# When set to "development", the cookies will not be secure.
# Any other value will make the cookies use Secure flag
STAGE="development"

POCKETBASE_ADMIN_EMAIL="adminEmail"
POCKETBASE_ADMIN_PASSWORD="adminPassword"

FILE_STORAGE_BASE_PATH="covers/"

NEXT_PUBLIC_LIBRARY_NAME="Alkove"

# Needs to match the key in the PocketBase hook (main.pb.js)
MAIL_SENDER_API_KEY="use a random string here"

SMTP_HOST="smtpHost"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="smtpUser"
SMTP_PASS="smtpPassword"

# Put where the application is hosted. This is only used for links in emails and in the user manual.
# Setting this will not affect the actual hosting of the application.
NEXT_PUBLIC_WEB_URL="http://localhost:3000"


# Sent as the User-Agent header on requests to OpenLibrary
# From https://openlibrary.org/developers/api
#
# If your application will make regular, frequent use of Open Library's APIs (e.g. multiple calls per minute), please add a HEADER that specifies a User-Agent string with (a) the name of your application and (b) your contact email or phone number, so we may contact you when we notice high request volume. In addition, identified requests will enjoy a 3x request limit.
#
# Default (non-identified requests):
# - 1 request per second
#
# Identified requests (with User-Agent and email):
# - 3 requests per second
#
# User-Agent: MyLibraryApp (contact@example.org) 

OPENLIBRARY_USER_AGENT="Alkove/0.0.1 (you@example.com)"
